* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg)
}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg)
}

body {
  /*background shorthand: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#Container {
  width: 100%;
  max-width: 588px;
  height: 712px;
  margin: 56px auto 0px;
}

#Profile {
  width: 100%;
  height: 192px;
  text-align: center;
  padding: 24px 0px;
}

#Profile  img {
  width: 112px;
  height: 111px;
}

#Profile  p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 8px;
}

#Switch{
  position: relative;
  width: 64px;
  height: 24px;
  margin: 4px auto;
}

#Switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;  
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-dark 0.2s;
}

.light #Switch button{
  animation: slide-light .2s forwards;
}

#Switch  span{
  width: 64px;
  height: 24px;
  display: block;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.5s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

#Social {
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#Social > a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;  
  transition: background 0.5s;  
}

#Social > a:hover{
  background: var(--highlight-color);
}

footer{
  padding: 24px;
  text-align: center;
  font-size: 14px;
  color: #FFFF;
}

footer >a {
    text-decoration: none;
}

@media (min-width: 700px) {
  :root{
    --bg-url: url(./assets/bg-desktop.jpg)
  }

  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg)
  }
}

@media (min-width: 700px) {
  #Switch button:hover{
    outline: 8px solid var(--highlight-color);
    transition: 0.2s;
  }
}

@keyframes slide-light {
  from{
    left: 0;
  }
  
  to{
    left: 50%;
  }
}

@keyframes slide-dark {
  from{
    left: 50%;
  }
  
  to{
    left: 0;
  }
}